<%- include ("partials/head"); %>
<%- include ("partials/navbar-shadow"); %>
<%- include ("partials/loader");  %>

<div id="page" class="site">
  <div class="main-contain updates-padding loadah">
    <div class="container">
      <div id="content" class="site-content">
        <div class="rs-heading style3  vc_custom_1543920863426  ">
          <div class="title-inner">
            <h2 class="title" style="margin-bottom: 0;">Updates</h2>
          </div>
        </div>
        <div class="row padding-">
          <div class="col-md-12 ">
            <article id="post-2176" class="post-2176 page type-page status-publish hentry">
              <div class="entry-content">
                <div class="vc_row wpb_row vc_row-fluid vc_custom_1543998372065">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="rs-blog-grid rs-blog ">
                          <div class="row">
                            <!-- start of card -->
                            <% data.events.forEach(function(event){%>
                            <div class="blog-item col-lg-4 col-md-12 style1">
                              <div class="blog-img image-scale"> <img src="<%= event.image %>" class="attachment-post-thumbnail size-post-thumbnail wp-post-image event-img" alt="" srcset="<%= event.image %>" />
                                <div class="blog-date"> <span class="date">
                                    <%= event.day %>
                                  </span> <span class="month">
                                    <%= event.month %>
                                  </span></div>
                              </div>
                              <div class="bottom-shadow1 ">
                                <div class="blog-meta">
                                  <h3 class="blog-title"><a href="/updates/<%= event.id %>">
                                      <%= event.name %>
                                    </a></h3>
                                  <!-- <div class="blog-date"> <span class="author">By admin</span><span class="seperator">/</span> <span class="categories"><a href="../category/corporate/index.html">Corporate </a></span></div> -->
                                </div>
                                <div class="blog-desc">
                                  <%= event.description.substring(0,100) %> ...
                                </div>
                                <div class="blog-button"><a href="/updates/<%= event.id  %>">Read More</a></div>
                              </div>
                            </div>
                            <% }) %>
                            <!-- end of card -->
                          </div>

                          <div class="pagination-area">
                            <div class="nav-links">
                              <% if(data.page-2> 1){ %>
                              <a class="next page-numbers" href="/updates?page=<%= data.page-1 %>">&laquo;</a>
                              <% } %>

                              <% for (var i=data.page-2 ; i < data.page; i++) { if (i> 0) { %>
                              <a class="next page-numbers" href="/updates?page=<%= i %>">
                                <%= i %>
                              </a>
                              <% }} %>

                              <span aria-current='page' class='page-numbers current'>
                                <%= data.page %>
                              </span>

                              <% for (var i=data.page+1 ; i < data.page+3; i++) { if (i <=data.no_of_pages)
                                            { %>
                              <a class="next page-numbers" href="/updates?page=<%= i %>">
                                <%= i %>
                              </a>
                              <% }} %>

                              <% if(data.page+2 < data.no_of_pages){ %>
                              <a class="next page-numbers" href="/updates?page=<%= data.page+1 %>">&raquo;</a>
                              <% } %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById("updates19").classList.add("current-menu-ancestor");
    document.getElementById("updates1923").classList.add("current-menu-ancestor");
    document.getElementById("home19").classList.remove("current_page_item", "current-menu-ancestor");
  </script>

  <%- include ("partials/footer"); %>